@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 4";
}




<div><h1>Lauren Dean</h1></div>

<div class="pic">
    <img id="pct" src="img/pct.jpg" />
    <p>Hiking the PCT with my friend Pablo!</p>
</div>
<br />

<div class="paragraph">
    <h2>What I hope to Gain from IS413</h2>
    <p>I love strongly-typed languages and I hope to gain more experience in a C language again. I am also super passionate about building websites so hopefully this class will teach me how to do that in a more efficient way than in previous classes. I also hope that I don't cry as much during the semester or INTEX!!'</p>
</div>
<br />

<div class="list">
    <h3>My top 3 positions</h3>
    <ol>
        <li>Project Manager</li>
        <li>UX/UI Designer</li>
        <li>Software Developer</li>
    </ol>
</div>

