body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lavender;
}

label {
    color:darkmagenta;
}


img {
    width: 50%;
    height: 50%;
}

input {
    width:50%;
}

div {
    margin-left: 35%;
    margin-right: 35%;
}
